# Ce fichier est commité dans le repo uniquement pour l'évaluation finale.
# En développement, chaque membre utilise son propre .env local — ne pas modifier ce fichier.

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# 42 School OAuth
FORTYTWO_CLIENT_ID=
FORTYTWO_CLIENT_SECRET=
